---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Gamboa">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<img 
				class="rounded-full w-20 h-20 mb-4"
				src="https://media.licdn.com/dms/image/v2/D4E03AQFKLF8DuNBB3w/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1720807623736?e=1730332800&v=beta&t=YwS4QIlRSgHUTuTR4eHWfz9L2Rbfj05gn9JovjEDF70" 
				alt="mi foto"
   			/>
			<h1 
				class="text-white text-5xl flex font-bold flex-row gap-x-4 pb-4"
			>
				Hey, I'm Luis Miguel <a href="https://www.linkedin.com/in/lmiguelgamboa/" target="_blank" rel="noopener" class="flex items-center justify-center">
					<Badge>Open to work</Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-wrap"> <span> Hello everyone!</span> <span class="opacity-80">I'm a Junior Full Stack Developer</span> with a passion for backend. <span class="text-yellow-200">Focused on mastering Python, SQL and Spring Boot.</span> Ready to grow and contribute in tech!
			</h2>
		</section>
	</main>
</Layout>


