
---
import htmlIcon from './icons/html.astro'
import cssIcon from './icons/css.astro'
import jsIcon from './icons/Js.astro'
import springIcon from './icons/Spring.astro'

const TAGS = {
    HTMLIcon: {
        name: "HTML",
        class: "bg-white/10 text-white",
        icon: htmlIcon,
    },

    CSSIcon: {
        name:"CSS",
        class: "bg-white/10 text-white",
        icon: cssIcon,
    },

    JSIcon: {
        name:"JavaScrip",
        class: "bg-white/10 text-white",
        icon: jsIcon,
    },

    SPRINGIcon: {
        name:"SpringBoot",
        class: "bg-white/10 text-white",
        icon: springIcon,
    },
}

const PROJECTS = [
    {
        title: 'Stock IT!',
        description: "A comprehensive inventory management application that also controls employee data and other related functions. The project was built with Vanilla JavaScript on the frontend and Spring Boot on the backend, making it a full-stack solution.",
        github:"",
        image:'/projects/stockit.webp',
        tags:[TAGS.HTMLIcon, TAGS.CSSIcon, TAGS.JSIcon, TAGS.SPRINGIcon]
    }
]
---

{
    PROJECTS.map(({ image, title, description, tags})=> (
        <article>
            <div class="flex flex-row-reverse gap-x-4">
                <div>
                    <h3 class="text-2xl font-semibold text-blue-400 mb-2">{title}</h3>
                    <p class="text-lg mb-4 text-pretty">{description}</p>
                    <ul class="flex gap-x-2 flex-row">
                        {tags.map((tag)=>(
                            <li>
                                <span class={`flex items-center rounded-full gap-1 text-sm ${typeof tag === 'object' ? tag.class : tag} py-1 px-2`}>
                                    {typeof tag === 'object' ? <tag.icon class="size-4"/> : tag}
                                    {typeof tag === 'object' ? tag.name : tag}
                                </span>
                            </li>
                        ))}
                    </ul>
                </div>
                <img 
                    class="rounded shadow-2xl shadow-white/10 max-w-80"
                    src={image} alt={`Captura de pantalla del proyecto ${image}`} />
            </div>
        </article>
    ))
}